<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjt.employment">

    <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.cjt.employment.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.cjt.employment.permission.RECEIVE_MSG" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.EmploymentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
            如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="6bc3043b7ad1f8cc1a10c6df7e7a4b75" />

        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!--
             云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程
        -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 安卓保活配置 -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine" />

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine" />

        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.defaultsearchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RecruitmentInfoActivity"
            android:label="@string/title_activity_recruitment_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CompanyActivity"
            android:label="@string/title_activity_company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:label="@string/title_activity_evaluate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EnterpriseActivity"
            android:label="@string/title_activity_enterprise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EnterpriseHomeActivity"
            android:label="@string/title_activity_enterprise_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AccountNameEditActivity"
            android:label="@string/title_activity_account_name_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitaeActivity"
            android:label="@string/title_activity_vitae"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitageUserEditActivity"
            android:label="@string/title_activity_vitage_user_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkExperienceActivity"
            android:label="@string/title_activity_work_experience"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkExperienceEditActivity"
            android:label="@string/title_activity_work_experience_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.HopeJobEditActivity"
            android:label="@string/title_activity_hope_job_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EducationActivity"
            android:label="@string/title_activity_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EducationEditActivity"
            android:label="@string/title_activity_education_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProjectEditActivity"
            android:label="@string/title_activity_project_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditCompanyNameActivity"
            android:label="@string/title_activity_edit_company_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditCompanyConditionActivity"
            android:label="@string/title_activity_edit_company_condition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditControduceActivity"
            android:label="@string/title_activity_edit_controduce"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditCompanyPositionActivity"
            android:label="@string/title_activity_edit_company_position"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitageInfoActivity"
            android:label="@string/title_activity_vitage_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BrowseVitageActivity"
            android:label="@string/title_activity_browse_vitage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitageStateActivity"
            android:label="@string/title_activity_vitage_state"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ApplyEnterpriseActivity"
            android:label="@string/title_activity_apply_enterprise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitageDetailActivity"
            android:label="@string/title_activity_vitage_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditProjectControduceActivity"
            android:label="@string/title_activity_edit_project_controduce"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.InfomationDetailActivity"
            android:label="@string/title_activity_infomation_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>