<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjt.employment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.defaultsearchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.UserEditActivity"
            android:label="@string/title_activity_user_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.RecruitmentInfoActivity"
            android:label="@string/title_activity_recruitment_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CompanyActivity"
            android:label="@string/title_activity_company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EvaluateActivity"
            android:label="@string/title_activity_evaluate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EnterpriseActivity"
            android:label="@string/title_activity_enterprise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EnterpriseHomeActivity"
            android:label="@string/title_activity_enterprise_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AccountNameEditActivity"
            android:label="@string/title_activity_account_name_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitaeActivity"
            android:label="@string/title_activity_vitae"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.VitageUserEditActivity"
            android:label="@string/title_activity_vitage_user_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkExperienceActivity"
            android:label="@string/title_activity_work_experience"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkExperienceEditActivity"
            android:label="@string/title_activity_work_experience_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.HopeJobEditActivity"
            android:label="@string/title_activity_hope_job_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EducationActivity"
            android:label="@string/title_activity_education"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EducationEditActivity"
            android:label="@string/title_activity_education_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ProjectEditActivity"
            android:label="@string/title_activity_project_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditCompanyNameActivity"
            android:label="@string/title_activity_edit_company_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditCompanyConditionActivity"
            android:label="@string/title_activity_edit_company_condition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditControduceActivity"
            android:label="@string/title_activity_edit_controduce"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>